<div>
    <button ng-click="d3Ctrl.makeCircle()">Make</button>
    <button ng-disabled="d3Ctrl.totalValue.green.length === 0" ng-click="d3Ctrl.moveCircle(1, d3Ctrl.totalValue.green[d3Ctrl.totalValue.green.length -1])">G to Y</button>
    <button ng-disabled="d3Ctrl.totalValue.yellow.length === 0" ng-click="d3Ctrl.moveCircle(2, d3Ctrl.totalValue.yellow[d3Ctrl.totalValue.yellow.length -1])">Y to C</button>
    <button ng-disabled="d3Ctrl.totalValue.cyan.length === 0" ng-click="d3Ctrl.moveCircle(3, d3Ctrl.totalValue.cyan[d3Ctrl.totalValue.cyan.length -1])">C to R</button>

    <div class="padding-right-10" style="position: absolute; right: 0;">
        <div>
            Speed:<br>
            <label><input type="radio" ng-model="d3Ctrl.speed" value="0"> Fast</label>
            <label><input type="radio" ng-model="d3Ctrl.speed" value="1000">Medium</label>
            <label><input type="radio" ng-model="d3Ctrl.speed" value="5000">Slow</label>
        </div>
        <div>
            Gravity Range (It Will Change The Focus Point):<br>
            <input type="checkbox" ng-model="d3Ctrl.gravityRangeChecked"> Checked for Input Box<br>
            <input ng-if="!d3Ctrl.gravityRangeChecked" type="range" ng-model="d3Ctrl.gravityRange" min="0.01" max="5" step="0.1" ng-change="d3Ctrl.gravityRangeChange()"><br>
            <input ng-if="d3Ctrl.gravityRangeChecked" type="number" ng-model="d3Ctrl.gravityRange" ng-change="d3Ctrl.gravityRangeChange()"><br>
            Max: 5<br>
            Min: 0.01<br>
            Value: <span ng-bind="d3Ctrl.gravityRange"></span><br>
        </div>
        <div>
            Charge Range:<br>
            <input type="checkbox" ng-model="d3Ctrl.chargeRangeChecked"> Checked for Input Box<br>
            <input ng-if="!d3Ctrl.chargeRangeChecked" type="range" ng-model="d3Ctrl.chargeRange" min="-3000" max="3000" step="5" ng-change="d3Ctrl.chargeRangeChange()"><br>
            <input ng-if="d3Ctrl.chargeRangeChecked" type="number" ng-model="d3Ctrl.chargeRange" ng-change="d3Ctrl.chargeRangeChange()"><br>
            Max: 3000<br>
            Min: -3000<br>
            Value: <span ng-bind="d3Ctrl.chargeRange"></span><br>
        </div>
        <div>
            Friction Range:<br>
            <input type="checkbox" ng-model="d3Ctrl.frictionRangeChecked"> Checked for Input Box<br>
            <input ng-if="!d3Ctrl.frictionRangeChecked" type="range" ng-model="d3Ctrl.frictionRange" min="0.0001" max="1" step="0.01" ng-change="d3Ctrl.frictionRangeChange()"><br>
            <input ng-if="d3Ctrl.frictionRangeChecked" type="number" ng-model="d3Ctrl.frictionRange" ng-change="d3Ctrl.frictionRangeChange()"><br>
            Max: 1<br>
            Min: 0.0001<br>
            Value: <span ng-bind="d3Ctrl.frictionRange"></span>
        </div>
    </div>

</div>
<div id="d3_layout_window" style="height: 800px"></div>