<div>
    <button ng-click="d3Ctrl.makeCircle()">Make</button>
    <button ng-click="d3Ctrl.moveCircle(1)">Move To Another Cluster Two</button>
    <button ng-click="d3Ctrl.moveCircle(2)">Move To Another Cluster Three</button>
    <button ng-click="d3Ctrl.moveCircle(3)">Remove Circle</button>
    <label>
        <input type="radio" ng-model="d3Ctrl.speed" ng-change="d3Ctrl.changeSpeed()" value="1">
        High
    </label>
    <label>
        <input type="radio" ng-model="d3Ctrl.speed" ng-change="d3Ctrl.changeSpeed()" value="0.00002">
        Medium
    </label>
</div>
<div id="d3_layout_window" style="height: 800px"></div>