<div class="right-side-menu-content" ng-class="rightMenuCtrl.setBackGroundColorFlag ? 'right-menu-back-ground' : ''">
    <div class="right-menu-tab">
        <div class="right-menu-tab-content">
            <button href="JavaScript:Void(0);" ng-click="rightMenuCtrl.showVisitiors = true;rightMenuCtrl.showConversions = false;rightMenuCtrl.showSettings = false;"
                ng-style="rightMenuCtrl.showVisitiors && {'color': 'white'} || {'color': 'gray'}">Visitiors</button>
        </div>
        <div class="right-menu-tab-content">
            <button href="JavaScript:Void(0);" ng-click="rightMenuCtrl.showVisitiors = false;rightMenuCtrl.showConversions = true;rightMenuCtrl.showSettings = false;"
                ng-style="rightMenuCtrl.showConversions && {'color': 'white'} || {'color': 'gray'}">Conversions</button>
        </div>
        <div class="right-menu-tab-content">
            <button href="JavaScript:Void(0);" ng-click="rightMenuCtrl.showVisitiors = false;rightMenuCtrl.showConversions = false;rightMenuCtrl.showSettings = true;"
                ng-style="rightMenuCtrl.showSettings && {'color': 'white'} || {'color': 'gray'}">Settings</button>
        </div>
    </div>
    <div class="right-menu-scroll-content">
        <div ng-repeat="(key, value) in rightMenuCtrl.userData | dateMenuSort">
            <div ng-if="rightMenuCtrl.showVisitiors">
                <div ng-if="value.onload" class="right-menu-day-back-ground">
                    <div>
                        <div>{{value.date | date: 'EEEE, MMMM d, y'}}</div>
                        <div class="padding-right-5 right-menu-total-count" ng-bind="value.onload.length"></div>
                    </div>
                </div>
                <div ng-if="value.onload" ng-repeat="(userKey, user) in value.onload">
                    <div class="right-menu-detail">
                        <li class="none-list-type right-menu-li" ng-style="$index % 2 && {'background-color': '#EDEEF0'} || {'background-color': '#F8F8F8'}">
                            <div class="right-menu-text-div"><span class="padding-10" ng-bind="$index + 1"></span><span class="padding-10 flag-icon flag-icon-{{user[3] | lowercase}}"></span>
                                <span class="padding-10" ng-bind="user[6]"></span>
                            </div>
                            <div class="right-menu-text-div">
                                <img class="margin-right-10 padding-5 float-right" ng-src="{{rightMenuCtrl.VISITOR_ICONS_PATH.BASE_PATH}}{{user[5].split(' ')[0]  | lowercase}}{{rightMenuCtrl.VISITOR_ICONS_PATH.IMAGE_CONSTRAINT}}"></img>
                                <img class="margin-right-10 padding-5 float-right" ng-src="{{rightMenuCtrl.browserLogoUrl.BASE_PATH}}{{user[4].split(' ')[0]  | lowercase}}/{{user[4].split(' ')[0]  | lowercase}}{{rightMenuCtrl.browserLogoUrl.IMAGE_CONSTRAINT}}"></img>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
            <div ng-if="rightMenuCtrl.showConversions">
                <div ng-if="value[rightMenuCtrl.GOAL_EVENT_NAME]" class="right-menu-day-back-ground">
                    <div>
                        <div>{{value.date | date: 'EEEE, MMMM d, y'}}</div>
                        <div class="padding-right-5 right-menu-total-count" ng-bind="value[rightMenuCtrl.GOAL_EVENT_NAME].length"></div>
                    </div>
                </div>
                <div ng-if="value[rightMenuCtrl.GOAL_EVENT_NAME]" ng-repeat="(userKey, user) in value[rightMenuCtrl.GOAL_EVENT_NAME]">
                    <div class="right-menu-detail">
                        <li class="none-list-type right-menu-li" ng-style="$index % 2 && {'background-color': '#EDEEF0'} || {'background-color': '#F8F8F8'}">
                            <div class="right-menu-text-div"><span class="padding-10" ng-bind="$index  + 1"></span><span class="padding-10 flag-icon flag-icon-{{user[3] | lowercase}}"></span>
                                <span class="padding-10" ng-bind="user[6]"></span>
                            </div>
                            <div class="right-menu-text-div">
                                <img class="margin-right-10 padding-5 float-right" ng-src="{{rightMenuCtrl.VISITOR_ICONS_PATH.BASE_PATH}}{{user[5].split(' ')[0]  | lowercase}}{{rightMenuCtrl.VISITOR_ICONS_PATH.IMAGE_CONSTRAINT}}"></img>
                                <img class="margin-right-10 padding-5 float-right" ng-src="{{rightMenuCtrl.browserLogoUrl.BASE_PATH}}{{user[4].split(' ')[0]  | lowercase}}/{{user[4].split(' ')[0]  | lowercase}}{{rightMenuCtrl.browserLogoUrl.IMAGE_CONSTRAINT}}"></img>
                            </div>
                        </li>
                        <li class="none-list-type right-menu-li relative" ng-style="$index % 2 && {'background-color': '#EDEEF0'} || {'background-color': '#F8F8F8'}">
                            <div class="right-menu-text-div" ng-repeat="(keyData, valueUser) in rightMenuCtrl.getConvertedUserData(user[2]).userInfo">
                                <span class="padding-10" ng-bind="keyData | uppercase"></span> <span class="padding-10" ng-bind="valueUser"></span>
                            </div>
                            <button href="JavaScript:Void(0);" class="right-menu-action-button">Action</button>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="rightMenuCtrl.showSettings">
            <div class="padding-10 radio-box">
                <b>Speed:</b><br>
                <label ng-repeat="speedObject in rightMenuCtrl.SPEED_ARRAY">
                    <input type="radio" ng-model="rightMenuCtrl.speed" ng-value="{{speedObject.value}}">
                    <span class="padding-left-5" ng-bind="speedObject.textField"></span>
                </label>
            </div>
            <div class="padding-10">
                <b>Charge Range:</b><br>
                <input type="range" ng-model="rightMenuCtrl.DEFAULT_D3CIRCLE_CONSTRAINT.charge" min="-3000" max="0" step="5" ng-change="rightMenuCtrl.chargeRangeChange(rightMenuCtrl.DEFAULT_D3CIRCLE_CONSTRAINT.charge)"><br>
            </div>
            <div class="padding-10">
                <b>Friction Range:</b><br>
                <input type="range" ng-model="rightMenuCtrl.DEFAULT_D3CIRCLE_CONSTRAINT.friction" min="0.0001" max="0.3" step="0.01" ng-change="rightMenuCtrl.frictionRangeChange(rightMenuCtrl.DEFAULT_D3CIRCLE_CONSTRAINT.friction)"><br>
            </div>

        </div>
    </div>
</div>