<div class="right-side-menu-content" ng-style="rightMenuCtrl.setBackGroundColorFlag && {'background-color': 'cyan'}">
    <div class="right-menu-tab">
        <div class="right-menu-tab-content">
            <button href="JavaScript:Void(0);">Visitiors</button>
        </div>
        <div class="right-menu-tab-content">
            <button href="JavaScript:Void(0);">Conversions</button>
        </div>
        <div class="right-menu-tab-content">
            <button href="JavaScript:Void(0);">Settings</button>
        </div>
    </div>
    <div>
        <div class="right-menu-day-back-ground">
            <div>
                <div>Fri May 12 2017</div>  <div class="padding-right-5" style="position: absolute; right: 0; top: 0; color:lightgray;">500</div>
            </div>
        </div>
        <div class="right-menu-detail">
            <div>

            </div>
        </div>
    </div>
</div>