.node {
    stroke-width: 0px;
}

.svg-main-window {
    stroke: black;
    background-color: #f0f0f0;
    width: 100%;
    margin-right: 0px
}

.float-left {
    float: left;
}

li {
    font-size: x-large;
}

.button:focus,
.button:hover {
    background-color: darkblue;
}

.title {
    margin: 0 20px !important;
}

.menu-li {
    position: relative;
    font-size: xx-small;
}

.menu-name {
    font-size: small;
    text-align: right;
}

.country-name {
    position: relative;
    right: 9px;
}

.text-align-right {
    text-align: right;
}

.country select {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    background: #f2f2f2;
    outline: 0px;
}

.country-list {
    position: relative;
    width: 100%;
    margin: auto;
}

.drop-dwon-label {
    color: deepskyblue;
    border: none !important;
}

.svg-sub-window {
    stroke: black;
    background-color: darkgray;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-radius: 0 0 230px 230px;
    bottom: 100%;
    position: absolute;
}

.filled-circle {
    padding: 0px 0px;
    border-radius: 100%;
    border: none;
    width: 10px;
    height: 10px;
    top: 10%;
    position: absolute;
    display: flex;
    left: 110%;
}

.svg-sub-window-subling {
    background-color: gray;
    bottom: 187%;
    width: 100%;
    height: 50%;
    position: absolute;
    border-radius: 100%;
    z-index: 1;
}

.font-size-zero {
    font-size: 0px;
}

.font-size-large {
    font-size: xx-large;
}

.d3-label {
    font-size: 7px;
    color: gray;
}

.color-gray {
    color: lightgray;
}

.menu-list {
    position: absolute;
    z-index: 1;
    width: 150px;
}

.domain-style {
    position: absolute;
    z-index: 1;
    right: 30%;
    width: auto
}

.none-list-type {
    list-style-type: none;
}

.bowl-style {
    height: 230px;
    width: 360px;
    position: absolute;
    bottom: 0;
    left: 225px;
}

.svg-rect-window {
    background-color: white
}

.detail-div {
    width: 25%;
    float: left;
}

#slider .handle {
    background-color: #004562;
    left: -20px;
    font-size: 1.9em;
    position: absolute;
    width: 20px;
    cursor: pointer;
    color: white;
    text-align: center;
}

.rotate {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.right-side-menu-content {
    height: 100%;
}

.right-menu-z-index {
    z-index: 2;
}

.user-count {
    font-size: small;
    text-align: right;
    position: relative;
    bottom: 25%;
    margin-left: -5px;
}

.width-auto {
    width: auto;
}

.current-user-count {
    padding: 5px;
    font-size: x-small;
}

div.tooltip {
    position: absolute;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.div-center {
    white-space: nowrap;
}

.goal--one-style {
    position: absolute;
    z-index: 1;
    padding-left: 25px;
    right: 0%;
}

.user-info {
    position: absolute;
    right: 0px;
    padding-left: 30px;
    font-size: medium;
}

.cross-icon {
    color: cyan;
    text-decoration: none !important;
}

.user-notification {
    font-size: small;
    border-bottom: solid;
    border-bottom-width: 1px;
}

.right-menu-tab {
    background-color: #004562;
    font-size: 1.9em;
    margin: 0;
    font-weight: 300;
}

.right-menu-tab-content {
    display: inline-block;
    font-size: small;
    width: 31.33%;
    text-align: center;
    text-decoration-style: solid;
    color: gray;
    font-weight: bold;
}

.right-menu-tab-content button {
    background: transparent;
    border: none;
}

.right-menu-tab-content button:focus {
    outline: 0;
}

.right-menu-day-back-ground {
    background-color: #1F6B8B;
    position: relative;
    color: white;
    text-align: center;
}

.right-menu-scroll-content {
    overflow: scroll;
    height: 97%;
}

.right-menu-total-count {
    position: absolute;
    right: 0;
    top: 0;
    color: lightgray;
}

.right-menu-li {
    font-size: larger;
    height: 75px;
    white-space: nowrap;
    border-bottom: solid 1px gray;
}

.right-menu-text-div {
    height: 50%;
}

.right-menu-action-button {
    position: absolute;
    margin-bottom: 10px;
    bottom: 0;
    right: 2%;
    background: transparent;
    border: none;
    color: #B4DFF0;
}

.right-menu-li button:focus {
    outline: 0;
    color: #1F6B8B;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.radio-box {
    display: inline-grid;
}

.right-menu-back-ground {
    background-color: #F8F8F8!important;
}

.d3-control-svg {
    stroke: black;
    background-color: #f0f0f0;
    margin-right: 0px
}

.graph-svg-component {
    background-color: AliceBlue;
}