.node {
    stroke-width: 1.5px;
}

.svg-main-window {
    stroke: black;
    background-color: lightgray;
}

.content {
    float: left;
}

li {
    font-size: x-large;
}

.button {
    background-color: deepskyblue;
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
}

.button:focus,
.button:hover {
    background-color: darkblue;
}
.title{
    margin: 0 20px !important;
}
.country span{
    font-size: small;
    font-weight: 300;
    line-height: 20px;
}
.text-align-right {
    text-align: right;
}
.country select{
    font-size: small;
    font-weight: 300;
    line-height: 20px;
}
.country-list{
    position: absolute;
}
.drop-dwon-label {
    color: cyan;
    border: none !important; 
}
.svg-sub-window {
    stroke: black;
    background-color: lightgray;
}

.all-time-div {
    width: 33.33%;
    float: left;
}