.node {
    stroke-width: 1.5px;
}

.dashboard {
    stroke: black;
}

.content {
    float: left;
}

li {
    font-size: x-large;
}

.button {
    background-color: deepskyblue;
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
}

.button:focus,
.button:hover {
    background-color: darkblue;
}
.title{
    margin: 0 20px !important;
}
.country span{
    font-size: small;
    font-weight: 300;
    line-height: 20px;
}
.country select{
    font-size: small;
    font-weight: 300;
    line-height: 20px;
}
.country-list{
    position: absolute;
}


/* The actual popup */
.popup .popuptext {
    margin: auto;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: relative;
    z-index: 1;
}

/* Popup arrow */
.popup .popuptext::before {
    content: "";
    position: relative;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}